<a href="https://colab.research.google.com/github/Kolawole-a2/Kola_Projects/blob/main/Afolabi_seas8416_assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Uploading/Accessing the File in Colab (Manually Upload in Colab)**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Boston.csv to Boston.csv

**Load CSV as a DataFrame**

In [ ]:
import pandas as pd

# Adjust path if necessary
df_bos_1 = pd.read_csv("Boston.csv")

**1A. Display First 20 Records**

In [ ]:
print(df_bos_1.head(20))

    Unnamed: 0     crim    zn  indus  chas    nox     rm    age     dis  rad  \
0            1  0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1
1            2  0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2
2            3  0.02729   0.0   7.07     0  0.469  7.185   61.1  4.9671    2
3            4  0.03237   0.0   2.18     0  0.458  6.998   45.8  6.0622    3
4            5  0.06905   0.0   2.18     0  0.458  7.147   54.2  6.0622    3
5            6  0.02985   0.0   2.18     0  0.458  6.430   58.7  6.0622    3
6            7  0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5
7            8  0.14455  12.5   7.87     0  0.524  6.172   96.1  5.9505    5
8            9  0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5
9           10  0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5
10          11  0.22489  12.5   7.87     0  0.524  6.377   94.3  6.3467    5
11          12  0.11747  12.5   7.87     0  0.524  6.009   82.9  6.2267    5
12          13  0.09378  12.5   7.87     0  0.524  5.889   39.0  5.4509    5
13          14  0.62976   0.0   8.14     0  0.538  5.949   61.8  4.7075    4
14          15  0.63796   0.0   8.14     0  0.538  6.096   84.5  4.4619    4
15          16  0.62739   0.0   8.14     0  0.538  5.834   56.5  4.4986    4
16          17  1.05393   0.0   8.14     0  0.538  5.935   29.3  4.4986    4
17          18  0.78420   0.0   8.14     0  0.538  5.990   81.7  4.2579    4
18          19  0.80271   0.0   8.14     0  0.538  5.456   36.6  3.7965    4
19          20  0.72580   0.0   8.14     0  0.538  5.727   69.5  3.7965    4

    tax  ptratio  lstat  medv
0   296     15.3   4.98  24.0
1   242     17.8   9.14  21.6
2   242     17.8   4.03  34.7
3   222     18.7   2.94  33.4
4   222     18.7   5.33  36.2
5   222     18.7   5.21  28.7
6   311     15.2  12.43  22.9
7   311     15.2  19.15  27.1
8   311     15.2  29.93  16.5
9   311     15.2  17.10  18.9
10  311     15.2  20.45  15.0
11  311     15.2  13.27  18.9
12  311     15.2  15.71  21.7
13  307     21.0   8.26  20.4
14  307     21.0  10.26  18.2
15  307     21.0   8.47  19.9
16  307     21.0   6.58  23.1
17  307     21.0  14.67  17.5
18  307     21.0  11.69  20.2
19  307     21.0  11.28  18.2

**1B. Display Column Names**

In [ ]:
print(df_bos_1.columns)

Index(['Unnamed: 0', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis',
       'rad', 'tax', 'ptratio', 'lstat', 'medv'],
      dtype='object')

**C. Display Row Index**

In [ ]:
print(df_bos_1.index)

RangeIndex(start=0, stop=506, step=1)

** D. Data Type of Row Index**

In [ ]:
print(type(df_bos_1.index))

<class 'pandas.core.indexes.range.RangeIndex'>

** 2. Mean and Standard Deviation of ‘tax’**

In [ ]:
print("Mean:", df_bos_1['tax'].mean())
print("Standard Deviation:", df_bos_1['tax'].std())

Mean: 408.2371541501976
Standard Deviation: 168.53711605495926

 **3. Create df_bos_2 Using Index Slicing**

In [ ]:
df_bos_2 = df_bos_1.iloc[10:20, 5:]
print(df_bos_2)

      nox     rm   age     dis  rad  tax  ptratio  lstat  medv
10  0.524  6.377  94.3  6.3467    5  311     15.2  20.45  15.0
11  0.524  6.009  82.9  6.2267    5  311     15.2  13.27  18.9
12  0.524  5.889  39.0  5.4509    5  311     15.2  15.71  21.7
13  0.538  5.949  61.8  4.7075    4  307     21.0   8.26  20.4
14  0.538  6.096  84.5  4.4619    4  307     21.0  10.26  18.2
15  0.538  5.834  56.5  4.4986    4  307     21.0   8.47  19.9
16  0.538  5.935  29.3  4.4986    4  307     21.0   6.58  23.1
17  0.538  5.990  81.7  4.2579    4  307     21.0  14.67  17.5
18  0.538  5.456  36.6  3.7965    4  307     21.0  11.69  20.2
19  0.538  5.727  69.5  3.7965    4  307     21.0  11.28  18.2

**Explanation of the above (# df_bos_2 = df_bos_1.iloc[10:20, 5:])**

The command line above creates a new DataFrame called df_bos_2 by slicing rows and columns from another DataFrame df_bos_1.

Breakdown:
df_bos_1: This is our original DataFrame (Boston housing data).

.iloc[]: This is used for index-based selection — it stands for "integer location" indexing.

Inside iloc[10:20, 5:]:
10:20: Selects rows from position 10 up to (but not including) 20.

That's the 11th to 20th rows (because Python indexing starts at 0).

5:: Selects columns from the 5th index position to the end.

That means it will take the 6th column to the last column.

** 4.** **Create Series bos_tax and Display Last 10 Observations**

In [ ]:
bos_tax = df_bos_1['tax']
print(bos_tax.tail(10))

496    391
497    391
498    391
499    391
500    391
501    273
502    273
503    273
504    273
505    273
Name: tax, dtype: int64

**5a. Getting a CSV Dataset from Kaggle and load the CSV**

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/netflix_titles.csv"
df_netflix = pd.read_csv(url)
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

**5b. Check for Missing Values (NaNs)**

In [ ]:
print(df_netflix.isna().sum())

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

**What the above Code Does:**
✔️ It checks every row in the entire DataFrame (df_netflix)
✔️ For each column, it adds up how many times NaN (missing value) appears
✔️ It returns a summary — showing how many missing values are in each column

**5c. Descriptive Statistics**

In [ ]:
print(df_netflix.describe(include='all'))  # include='all' to see both numeric and categorical

             show_id   type        title                director  \
count   6.234000e+03   6234         6234                    4265
unique           NaN      2         6172                    3301
top              NaN  Movie  The Silence  Raúl Campos, Jan Suter
freq             NaN   4265            3                      18
mean    7.670368e+07    NaN          NaN                     NaN
std     1.094296e+07    NaN          NaN                     NaN
min     2.477470e+05    NaN          NaN                     NaN
25%     8.003580e+07    NaN          NaN                     NaN
50%     8.016337e+07    NaN          NaN                     NaN
75%     8.024489e+07    NaN          NaN                     NaN
max     8.123573e+07    NaN          NaN                     NaN

                      cast        country       date_added  release_year  \
count                 5664           5758             6223    6234.00000
unique                5469            554             1524           NaN
top     David Attenborough  United States  January 1, 2020           NaN
freq                    18           2032              122           NaN
mean                   NaN            NaN              NaN    2013.35932
std                    NaN            NaN              NaN       8.81162
min                    NaN            NaN              NaN    1925.00000
25%                    NaN            NaN              NaN    2013.00000
50%                    NaN            NaN              NaN    2016.00000
75%                    NaN            NaN              NaN    2018.00000
max                    NaN            NaN              NaN    2020.00000

       rating  duration      listed_in  \
count    6224      6234           6234
unique     14       201            461
top     TV-MA  1 Season  Documentaries
freq     2027      1321            299
mean      NaN       NaN            NaN
std       NaN       NaN            NaN
min       NaN       NaN            NaN
25%       NaN       NaN            NaN
50%       NaN       NaN            NaN
75%       NaN       NaN            NaN
max       NaN       NaN            NaN

                                              description
count                                                6234
unique                                               6226
top     A surly septuagenarian gets another chance at ...
freq                                                    3
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

**5d. Identify any categorical data features (features are simply the columns)**

In [ ]:
categorical_columns = df_netflix.select_dtypes(include=['object']).columns
print("Categorical columns:", list(categorical_columns))

Categorical columns: ['type', 'title', 'director', 'cast', 'country', 'date_added', 'rating', 'duration', 'listed_in', 'description']

**6(a-d). Create df1 and df2**

In [ ]:
import numpy as np

# DataFrame 1
df1 = pd.DataFrame(
    np.arange(50).reshape(10, 5),
    columns=["Mon", "Tues", "Wed", "Thurs", "Fri"]
)

# DataFrame 2
df2 = pd.DataFrame(
    np.arange(20).reshape(5, 4),
    columns=["Thurs", "Fri", "Sar", "Sun"]
)

**6e. Merge df1 and df2 into df3 (Outer Merge to keep all indexes/columns)**

In [ ]:
df3 = pd.concat([df1, df2], axis=0, sort=False)

# Resetting index for better alignment
df3.reset_index(drop=True, inplace=True)

print(df3)

     Mon  Tues   Wed  Thurs  Fri   Sar   Sun
0    0.0   1.0   2.0      3    4   NaN   NaN
1    5.0   6.0   7.0      8    9   NaN   NaN
2   10.0  11.0  12.0     13   14   NaN   NaN
3   15.0  16.0  17.0     18   19   NaN   NaN
4   20.0  21.0  22.0     23   24   NaN   NaN
5   25.0  26.0  27.0     28   29   NaN   NaN
6   30.0  31.0  32.0     33   34   NaN   NaN
7   35.0  36.0  37.0     38   39   NaN   NaN
8   40.0  41.0  42.0     43   44   NaN   NaN
9   45.0  46.0  47.0     48   49   NaN   NaN
10   NaN   NaN   NaN      0    1   2.0   3.0
11   NaN   NaN   NaN      4    5   6.0   7.0
12   NaN   NaN   NaN      8    9  10.0  11.0
13   NaN   NaN   NaN     12   13  14.0  15.0
14   NaN   NaN   NaN     16   17  18.0  19.0

**6f. Why Are NaNs Present in This Merge?**

In [ ]:
# NaNs appear because df1 and df2 have different sets of columns.
# When using concat with axis=0, all unique columns are preserved.
# If a row doesn't have data for a particular column (like 'Sar' or 'Sun' in df1),
# pandas fills that position with NaN.


**Other Notes:**
NaN stands for "Not a Number."
**What does it mean in programming or data analysis?**
In libraries like pandas and NumPy, NaN represents missing, undefined, or null values in a dataset.

**It’s used as a placeholder when data is incomplete, corrupt, or not applicable.**